.input-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 40vh;

  .input-form-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .input-form-title {
      font-size: 34px;
      font-weight: 600;
      margin-top: 6vh;
    }

    .input-form-description {
      font-size: 16px;
      font-weight: 600;
      margin-top: 4vh;
      margin-bottom: 4vh;
      text-align: center;
    }
  }

  .input-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .input-form {
      padding: 10px;
      font-size: 16px;
      border-radius: 5px;
      margin-bottom: 20px;
      width: 40vw;

      @media only screen and (max-width: 767px) {
        width: 80vw;
      }
    }
  }

  .text-button {
    padding: 10px 20px;
    background-color: #4caf50;
    font-weight: 600;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
    &:active {
      transform: scale(0.95);
      color: black;
    }
  }
}
